# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
*/venv/
octofit-tracker/backend/venv/

# Django
*.sqlite3
media/

# IDEs
.vscode/
.idea/

# Environment files
.env
.DS_Store

# Virtual Environment
venv

# octofit tracker app
# octfit-tracker

# React node_modules
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python files
*.pyc
__pycache__/
